@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/breakpoints' as *;

.menu {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 40px;

    @include sm {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  @include sm {
    flex-direction: column;
  }
}

.link {
  display: block;
  padding: 28px 10px;
  font-size: $fontSize;
  font-weight: 400;
  text-align: center;
  color: inherit;
  transition: all 0.25s;
  cursor: pointer;

  @include sm {
    padding: 5px;
  }

  &:hover {
    color: $textColorSecondary;
  }

  &.active {
    box-shadow: inset 0 -3px 0 $successColor;
  }
}
